# Ignore virtual environment
/env/

# Ignore Django-related files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
Lib
# Ignore database files


# Ignore static files


# Ignore media files
/media/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore sensitive or environment-specific information
.env
